<p>
  Hello,<br />
</p>

<p>
  Welcome to Inverge! We're glad you have decided to join our community.
</p>

<p>
  To combat spammers, we now require all new users to confirm their Inverge
  account email. To confirm <%= @email %> as your primary email address for
  Inverge, simply follow the following link:
</p>

<p>
  <a href="http://localhost:4200/confirm?email=<%= @email %>&confirmation_token=<%= @token %>">
    Confirm <%= @email %> as my primary email address
  </a>
</p>

<p>
  Thank you! We look forward to helping you inverge.<br />
</p>

<p>
  The Inverge Team
</p>